.card {
  padding: 30px;
  max-width: 400px;
  background: white;
  border-radius: 10px;
  box-sizing: border-box;

  h2 {
    margin-bottom: 15px;
  }

  img {
    width: 100%;
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 15px;
  }

  .cta-btn {
    a {
      font-size: 1.5em;
    }
  }
}
