.carousel-section {
  width: 100%;

  .glide__slide {
    width: 100vw;
    height: var(--hero-height);
  }

  #glide-1 {
    background-image: url(../images/doctor.jpg);
    background-size: cover;
  }
  #glide-2 {
    background: green;
  }
  #glide-3 {
    background: blue;
  }

  .glide {
    position: relative;

    .glide__bullets {
      position: absolute;
      left: 5vw;
      bottom: 20px;
    }
  }
}
