@import './subtitles.scss';

main {
  height: 100vh;
  background: var(--color-primary-light);

  .order-now {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 20vh;

    .cta-btn {
      display: block;
      margin: 0 auto;
    }
  }
}
